@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: white;
}
ul>li{
    list-style: none;
    cursor: pointer;
}
ul{
    display: flex;
    gap: 24px;
}
body{
    font-family: "Figtree", sans-serif;
   
}

.quote-button{
    background-color: #FA1239;
    color: white;  
    width: 147px;
    height: 46px;
    border: none;
    border-radius: 50px;
    font-style: normal;
    /* font-weight: 600; */
    font-size: 18px;
    cursor: pointer;
}